

:root {
  --foreground-rgb: #101B52;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-rgb: #F5F6F7;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb)); */
  /* background-color: rgb(var(--background-rgb)); */
  color: #121212;
  background-color: #F5F6F7;
}



